
@font-face {
	font-family: 'NeoDGM Pro';
  font-weight: normal;
  font-style: normal;
	font-display: swap;
	src: url('./neodgm_pro.woff2') format('woff2'), url('./neodgm_pro.woff') format('woff');
}

@font-face {
	font-family: 'Nexon Level1 Gothic';
  font-weight: normal;
  font-style: normal;
	font-display: swap;
	src: url('./nexonlv1.woff') format('woff');
}
